#producttable { /* таблица товара */
    border: 3px groove grey;
    width: 100%;
    font-family:'Comic Sans MS', Verdana, sans-serif
}
#productphotocolumn { /* Колонца с фото товара */
    text-align: center;
    vertical-align: center;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 35%;
}
#shortdescriptioncolumn { /* Описание товара */
    vertical-align: center;
    font-size: 16pt;
    text-align: center;
    width: 75%;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}
#descriptioncolumn { /* Описание товара */
    font-size: 16pt;
    text-orientation: upright;
    border: 1px solid grey;
    width: 25%;
}
#featurecolumn { /* Характеристики товара */
    text-align: center;
    border: 1px solid grey;
    width: 40%;
}