@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1 0 auto;
    /*min-height: 100%;
    margin-bottom: -195px;*/
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: #000;
    /*border: 3px solid red;*/
}

.top {
    width: 940px;
    height: 70px;
}

.menu {
    display: inline-block;
    height: 70px;
    justify-content: center;
    /*border: 3px solid darkorchid;*/
}

.menu ul {
    list-style: none; /*убираем маркеры списка*/
    float: left; /*Размещаем список горизонтально для реализации меню*/

}

.menu a:hover {
    background: dimgray; /*добавляем эффект при наведении*/
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
}

.menu li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    position: center; /*задаем позицию для позиционирования*/
    /*border: 3px solid aquamarine;*/
}


.menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding: 25px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    display: block;
    /*border: 3px solid chocolate;*/
}

.login {
    display: block;
    float: right;
    width: 100px;
    height: 70px;
    justify-content: space-around;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    line-height: 70px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.login__box {
    display: inline-block;
    color: white;
    cursor: pointer;
}
.login:hover{
    background: dimgray;
}
.login__box:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
}
.bg {
    min-height: 100%;
    flex: 1 0 auto;
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    /*background-color: coral;*/
    background-color: #070707;
    background-size: 100%;
}

.main {
    margin: 0 auto;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    width: 940px;
    overflow: hidden;
    color: white;
}

.index__logo {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.shape {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}

.shape1 {
    width: 30%;
}

.shape_tag {
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: #f7f4f1;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.shape_text {
    margin-top: 30px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f7f4f1;
}

.shape2 {
    margin: 0 auto;
    left: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: white;
}

.shape2 p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f7f4f1;
}

.content_about_us {
    display: flex;
    justify-content: center;
    width: 940px;
    height: 419px;
    background-color: #f6f3f0;
    margin-top: 85px;
}

.body_content {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 780px;
    margin-top: 55px;
    margin-bottom: 50px;
}
.body_content_left {
    display: block;
    width: 350px;
}

.content_name {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}
.body_content_left_text_1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

}
.body_content_left_text_1_1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}
.body_content_left_text_2 {

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}
.body_content_left_text_2_1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}
.body_content_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 44px;
    background-color: black;
    margin-top: 30px;
    text-transform: uppercase;
}
.body_content_button:hover {
    background: dimgray;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
}
.body_content_button {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.separator {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}
.body_content_right {
    display: block;
    width: 300px;
    margin-left: 50px;
}
.body_content_photo {
    margin-top: 32px;
    margin-left: 2px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
.body_content_button_right {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}
.footer {
    flex-shrink: 0;
    background: #232323;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 195px;
}

.footercontent {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 940px;
    height: 195px;
    color: white;
}

.footer1 {
    position: sticky;
    display: block;
    justify-content: center;
    align-items: center;
    width: 310px;
}

.footer1 p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    justify-content: center;
}

.text__decoration {
    text-decoration: underline;
    cursor: pointer;
}
.text__decoration:hover{
    text-decoration: none;
}

.footer2 {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    z-index: 2;
}

.footer2 p {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.footerhref {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 43px;
    height: 43px;
    background-color: #000000;
    cursor: pointer;
}
.footerhref:hover{
    background: dimgray;
}
.footer3 {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 310px;
}

.footer3_1 {
    float: right;
}

.footer3 p {

    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.footerhref2 {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 140px;
    height: 43px;
    background-color: #000000;
    cursor: pointer;
}
.footerhref2:hover{
    background: dimgray;
    text-decoration: underline;
    text-underline-position: under;
}
.footer3 div a {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}